<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-english" name="language" type="checkbox" value="English" checked>
  <label class="checkbox" for="checkbox-english">English</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-french" name="language" type="checkbox" value="French" checked>
  <label class="checkbox" for="checkbox-french">French</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-german" name="language" type="checkbox" value="German" checked>
  <label class="checkbox" for="checkbox-german">German</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-italian" name="language" type="checkbox" value="Italian" checked>
  <label class="checkbox" for="checkbox-italian">Italian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-japanese" name="language" type="checkbox" value="Japanese" checked>
  <label class="checkbox" for="checkbox-japanese">Japanese</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-spanish" name="language" type="checkbox" value="Spanish" checked>
  <label class="checkbox" for="checkbox-spanish">Spanish</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-albanian" name="language" type="checkbox" value="Albanian">
  <label class="checkbox" for="checkbox-albanian">Albanian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-arabic" name="language" type="checkbox" value="Arabic">
  <label class="checkbox" for="checkbox-arabic">Arabic</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-armenian" name="language" type="checkbox" value="Armenian">
  <label class="checkbox" for="checkbox-armenian">Armenian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-azerbaijani" name="language" type="checkbox" value="Azerbaijani">
  <label class="checkbox" for="checkbox-azerbaijani">Azerbaijani</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-bengali" name="language" type="checkbox" value="Bengali">
  <label class="checkbox" for="checkbox-bengali">Bengali</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-bulgarian" name="language" type="checkbox" value="Bulgarian">
  <label class="checkbox" for="checkbox-bulgarian">Bulgarian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-burmese" name="language" type="checkbox" value="Burmese">
  <label class="checkbox" for="checkbox-burmese">Burmese</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-catalan" name="language" type="checkbox" value="Catalan">
  <label class="checkbox" for="checkbox-catalan">Catalan</label>
</div>
<div class="column is-2 px-1 py-0 switch">
  <input id="checkbox-simplified_chinese" name="language" type="checkbox" value="Simplified Chinese">
  <label class="checkbox" for="checkbox-simplified_chinese">Simplified Chinese</label>
</div>
<div class="column is-2 px-1 py-0 switch">
  <input id="checkbox-traditional_chinese" name="language" type="checkbox" value="Traditional Chinese">
  <label class="checkbox" for="checkbox-traditional_chinese">Traditional Chinese</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-cantonese" name="language" type="checkbox" value="Cantonese">
  <label class="checkbox" for="checkbox-cantonese">Cantonese</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-croatian" name="language" type="checkbox" value="Croatian">
  <label class="checkbox" for="checkbox-croatian">Croatian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-czech" name="language" type="checkbox" value="Czech">
  <label class="checkbox" for="checkbox-czech">Czech</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-danish" name="language" type="checkbox" value="Danish">
  <label class="checkbox" for="checkbox-danish">Danish</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-dutch" name="language" type="checkbox" value="Dutch">
  <label class="checkbox" for="checkbox-dutch">Dutch</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-georgian" name="language" type="checkbox" value="Georgian">
  <label class="checkbox" for="checkbox-georgian">Georgian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-greek" name="language" type="checkbox" value="Greek">
  <label class="checkbox" for="checkbox-greek">Greek</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-estonian" name="language" type="checkbox" value="Estonian">
  <label class="checkbox" for="checkbox-estonian">Estonian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-finnish" name="language" type="checkbox" value="Finnish">
  <label class="checkbox" for="checkbox-finnish">Finnish</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-gujarati" name="language" type="checkbox" value="Gujarati">
  <label class="checkbox" for="checkbox-gujarati">Gujarati</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-hebrew" name="language" type="checkbox" value="Hebrew">
  <label class="checkbox" for="checkbox-hebrew">Hebrew</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-hindi" name="language" type="checkbox" value="Hindi">
  <label class="checkbox" for="checkbox-hindi">Hindi</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-hungarian" name="language" type="checkbox" value="Hungarian">
  <label class="checkbox" for="checkbox-hungarian">Hungarian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-icelandic" name="language" type="checkbox" value="Icelandic">
  <label class="checkbox" for="checkbox-icelandic">Icelandic</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-indonesian" name="language" type="checkbox" value="Indonesian">
  <label class="checkbox" for="checkbox-indonesian">Indonesian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-kannada" name="language" type="checkbox" value="Kannada">
  <label class="checkbox" for="checkbox-kannada">Kannada</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-kazakh" name="language" type="checkbox" value="Kazakh">
  <label class="checkbox" for="checkbox-kazakh">Kazakh</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-central_khmer" name="language" type="checkbox" value="Central Khmer">
  <label class="checkbox" for="checkbox-central_khmer">Central Khmer</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-korean" name="language" type="checkbox" value="Korean">
  <label class="checkbox" for="checkbox-korean">Korean</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-lao" name="language" type="checkbox" value="Lao">
  <label class="checkbox" for="checkbox-lao">Lao</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-latvian" name="language" type="checkbox" value="Latvian">
  <label class="checkbox" for="checkbox-latvian">Latvian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-lithuanian" name="language" type="checkbox" value="Lithuanian">
  <label class="checkbox" for="checkbox-lithuanian">Lithuanian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-malayalam" name="language" type="checkbox" value="Malayalam">
  <label class="checkbox" for="checkbox-malayalam">Malayalam</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-marathi" name="language" type="checkbox" value="Marathi">
  <label class="checkbox" for="checkbox-marathi">Marathi</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-malay" name="language" type="checkbox" value="Malay">
  <label class="checkbox" for="checkbox-malay">Malay</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-mongolian" name="language" type="checkbox" value="Mongolian">
  <label class="checkbox" for="checkbox-mongolian">Mongolian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-norwegian" name="language" type="checkbox" value="Norwegian">
  <label class="checkbox" for="checkbox-norwegian">Norwegian</label>
</div>
<div class="column is-2 px-1 py-0 pb-1 switch">
  <input id="checkbox-norwegian_bokmål" name="language" type="checkbox" value="Norwegian Bokmål">
  <label class="checkbox" for="checkbox-norwegian_bokmål">Norwegian Bokmål</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-oriya" name="language" type="checkbox" value="Oriya">
  <label class="checkbox" for="checkbox-oriya">Oriya</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-punjabi" name="language" type="checkbox" value="Punjabi">
  <label class="checkbox" for="checkbox-punjabi">Punjabi</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-polish" name="language" type="checkbox" value="Polish">
  <label class="checkbox" for="checkbox-polish">Polish</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-portuguese" name="language" type="checkbox" value="Portuguese">
  <label class="checkbox" for="checkbox-portuguese">Portuguese</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-romanian" name="language" type="checkbox" value="Romanian">
  <label class="checkbox" for="checkbox-romanian">Romanian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-russian" name="language" type="checkbox" value="Russian">
  <label class="checkbox" for="checkbox-russian">Russian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-slovak" name="language" type="checkbox" value="Slovak">
  <label class="checkbox" for="checkbox-slovak">Slovak</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-swedish" name="language" type="checkbox" value="Swedish">
  <label class="checkbox" for="checkbox-swedish">Swedish</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-tamil" name="language" type="checkbox" value="Tamil">
  <label class="checkbox" for="checkbox-tamil">Tamil</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-telugu" name="language" type="checkbox" value="Telugu">
  <label class="checkbox" for="checkbox-telugu">Telugu</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-thai" name="language" type="checkbox" value="Thai">
  <label class="checkbox" for="checkbox-thai">Thai</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-turkish" name="language" type="checkbox" value="Turkish">
  <label class="checkbox" for="checkbox-turkish">Turkish</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-ukrainian" name="language" type="checkbox" value="Ukrainian">
  <label class="checkbox" for="checkbox-ukrainian">Ukrainian</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-urdu" name="language" type="checkbox" value="Urdu">
  <label class="checkbox" for="checkbox-urdu">Urdu</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-uzbek" name="language" type="checkbox" value="Uzbek">
  <label class="checkbox" for="checkbox-uzbek">Uzbek</label>
</div>
<div class="column is-1 px-1 py-0 pb-1 switch">
  <input id="checkbox-vietnamese" name="language" type="checkbox" value="Vietnamese">
  <label class="checkbox" for="checkbox-vietnamese">Vietnamese</label>
</div>
