<nav class="content has-text-right" aria-label="Site links">
  <span class="p-2"><a class="has-text-dark" href="https://github.com/kishikawakatsumi/applelocalization-web/issues/new" target="_blank" rel="nofollow noopener noreferrer"><span class="fa-regular fa-comment-dots mr-1" aria-hidden="true"></span>Feedback</a></span>
  <span class="p-2"><a class="has-text-dark" href="https://github.com/kishikawakatsumi/applelocalization-web" target="_blank" rel="nofollow noopener noreferrer"><span class="fa-brands fa-github mr-1" aria-hidden="true"></span>Source Code</a></span>
  <span class="p-2"><a class="has-text-dark" href="/ai"><span class="mr-1"><%~ include("icon-terminal.html") %></span>AI / API</a></span>
  <span class="p-2"><a class="has-text-dark" href="https://hachyderm.io/@kishikawakatsumi" target="_blank" rel="nofollow noopener noreferrer"><span class="fa-solid fa-at mr-1" aria-hidden="true"></span>Maintainer</a></span>
  <span class="p-2"><a class="has-text-dark" href="https://github.com/sponsors/kishikawakatsumi" target="_blank" rel="nofollow noopener noreferrer"><span class="fa-solid fa-heart mr-1" style="color: #bf3989;" aria-hidden="true"></span>Donate</a></span>
</nav>
